/* Light Theme */
:root {
    --bs-body-bg: #ffffff;
    --bs-body-color: #000000;
  
    --bs-primary: #0d6efd; /* Primary button */
    --bs-secondary: #6c757d;
    --bs-card-bg: #ffffff;
    --bs-card-border-color: #dee2e6;
  }
  
  /* Dark Theme */
  [data-theme="dark"] {
    --bs-body-bg: #121212;
    --bs-body-color: #e4e4e4;
  
    --bs-primary: #1a73e8;
    --bs-secondary: #9ea7ad;
    --bs-card-bg: #1c1c1c;
    --bs-card-border-color: #343a40;
    --bs-card-color:#343a40;
    --bs-nav-link-color:#e4e4e4 !important;
    --bs-navbar-color:#e4e4e4;
    --bs-navbar-active-color:#e4e4e4;
    --bs-navbar-toggler-border-color:#e4e4e4 !important;
    
  }

  [data-theme="dark"] .nav-link {
    color: #e4e4e4 !important;
  }

  [data-theme="dark"] .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='gray' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  [data-theme="dark"] .navbar-toggler{
    border-color:#e4e4e4;
  }
  
  
  /* Transition for smooth changes */
  body {
    background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  transition: background-color 0.3s, color 0.3s;
  }
  