/* Light Theme */
:root {
    --bs-body-bg: #ffffff;
    --bs-body-color: #000000;
  
    --bs-primary: #0d6efd; /* Primary button */
    --bs-secondary: #6c757d;
    --bs-card-bg: #ffffff;
    --bs-card-border-color: #dee2e6;
  }
  
  /* Dark Theme */
  [data-theme="dark"] {
    --bs-body-bg: #121212;
    --bs-body-color: #e4e4e4;
  
    --bs-primary: #1a73e8;
    --bs-secondary: #9ea7ad;
    --bs-card-bg: #1c1c1c;
    --bs-card-border-color: #343a40;
    --bs-card-color:#343a40;
  }
  
  /* Transition for smooth changes */
  body {
    background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  transition: background-color 0.3s, color 0.3s;
  }
  